Repository Provenance-Emu/Provenance, pull requests merged in 2021-08, with the labels that each got.

#1535 Fix game resumption when entering cheat codes
  Provenance/Emulator/PVEmulatorViewController+Cheats.swift
  Provenance/Emulator/PVEmulatorViewController+Saves.swift
  Provenance/Game Library/UI/Cheats/PVCheatsViewController.swift
  Provenance/http/PVWebServer.m
Labels: autosquash, bug, ui/ux

#1556 Fix virtual boy crash
  Cores/Mednafen/MednafenGameCore.mm
Labels: core: Mednafen, system-VB

#1545 Update Mednafen to 1.27.1
  CHANGELOG.md
  Cores/Mednafen/PVMednafen.xcodeproj/project.pbxproj
  Cores/Mednafen/PVMednafen/Core.plist
  Cores/Mednafen/mednafen/ChangeLog
  Cores/Mednafen/mednafen/Documentation/apple2.html
  Cores/Mednafen/mednafen/Documentation/cdplay.html
  Cores/Mednafen/mednafen/Documentation/gb.html
  Cores/Mednafen/mednafen/Documentation/gba.html
  Cores/Mednafen/mednafen/Documentation/gg.html
  Cores/Mednafen/mednafen/Documentation/lynx.html
  Cores/Mednafen/mednafen/Documentation/md.html
  Cores/Mednafen/mednafen/Documentation/mednafen.html
  Cores/Mednafen/mednafen/Documentation/modules.def
  Cores/Mednafen/mednafen/Documentation/nes.html
  Cores/Mednafen/mednafen/Documentation/netplay.html
  Cores/Mednafen/mednafen/Documentation/ngp.html
  Cores/Mednafen/mednafen/Documentation/pce.html
  Cores/Mednafen/mednafen/Documentation/pce_fast.html
  Cores/Mednafen/mednafen/Documentation/pcfx.html
  Cores/Mednafen/mednafen/Documentation/psx.html
  Cores/Mednafen/mednafen/Documentation/sms.html
  Cores/Mednafen/mednafen/Documentation/snes.html
  Cores/Mednafen/mednafen/Documentation/snes_faust.html
  Cores/Mednafen/mednafen/Documentation/ss.html
  Cores/Mednafen/mednafen/Documentation/ssfplay.html
  Cores/Mednafen/mednafen/Documentation/vb.html
  Cores/Mednafen/mednafen/Documentation/wswan.html
  Cores/Mednafen/mednafen/configure
  Cores/Mednafen/mednafen/configure.ac
  Cores/Mednafen/mednafen/intl/VERSION.txt
  Cores/Mednafen/mednafen/po/POTFILES.in
  Cores/Mednafen/mednafen/po/de.gmo
  Cores/Mednafen/mednafen/po/de.po
  Cores/Mednafen/mednafen/po/es.gmo
  Cores/Mednafen/mednafen/po/es.po
  Cores/Mednafen/mednafen/po/mednafen.pot
  Cores/Mednafen/mednafen/po/ru.gmo
  Cores/Mednafen/mednafen/po/ru.po
  Cores/Mednafen/mednafen/src/cdrom/CDAFReader_SF.cpp
  Cores/Mednafen/mednafen/src/cdrom/CDAFReader_SF.h
  Cores/Mednafen/mednafen/src/cdrom/CDAccess_CCD.cpp
  Cores/Mednafen/mednafen/src/demo/demo.cpp
  Cores/Mednafen/mednafen/src/drivers/memdebugger.cpp
  Cores/Mednafen/mednafen/src/drivers/memdebugger.h
  Cores/Mednafen/mednafen/src/drivers/video.cpp
  Cores/Mednafen/mednafen/src/mednafen.cpp
  Cores/Mednafen/mednafen/src/snes/src/lib/libco/ppc.c
  Cores/Mednafen/mednafen/src/snes/src/lib/libco/sjlj.c
  Cores/Mednafen/mednafen/src/ss/db.cpp
  Cores/Mednafen/mednafen/src/ss/notes/SCSP-FM-GAMES
  Cores/Mednafen/mednafen/src/ss/scsp.inc
Labels: core-related, core: Mednafen

#1558 Update sjlj.c
  CHANGELOG.md
  Cores/Mednafen/mednafen/src/snes/src/lib/libco/sjlj.c
Labels: tvOS, core: Mednafen, docs
