Repository Provenance-Emu/Provenance, pull requests merged in 2022-01, with the labels that each got.

#1690 M68K tvOS Compiler setting sync up
  Cores/Mednafen/PVMednafen.xcodeproj/project.pbxproj
Labels: tvOS, core: Mednafen, confirmed-fix, Performance

#1640 refs #1639 Add xcconfig files for sign settings
  .gitignore
  Build.xcconfig
  CodeSigning.xcconfig.sample
  PVLibrary/PVLibrary/Configuration/PVAppConstants.swift
  PVLibrary/PVLibrary/Importer/Services/GameImporter.swift
  Provenance Watch WatchKit Extension/Info.plist
  Provenance.xcodeproj/project.pbxproj
  Provenance.xcodeproj/xcshareddata/xcschemes/Provenance Watch WatchKit App.xcscheme
  Provenance/Game Library/UI/Game Library/CollectionViewController/PVGameLibraryViewController.swift
  Provenance/PVAppDelegate.swift
  Provenance/Provenance-Free.entitlements
  Provenance/Provenance-Info.plist
  Provenance/Provenance.entitlements
  Provenance/Resources/createVersionHeader.sh
  Provenance/Resources/en.lproj/Strings.strings
  Provenance/Settings/PVCoresTableViewContorller.swift
  Provenance/Settings/PVLicensesViewController.swift
  Provenance/Settings/PVSettingsViewController.swift
  ProvenanceTV/Provenance.entitlements
  Scripts/set_bundle_build_number.sh
  Spotlight/Spotlight.entitlements
  TopShelf/TopShelf.entitlements
Labels: dev

#1709 Update PVSettingsViewController.swift
  Provenance/Settings/PVSettingsViewController.swift
Labels: tvOS, design

#1713 Update PVSystem.swift
  PVLibrary/PVLibrary/RealmPlatform/Entities/PVSystem.swift
Labels: tvOS, blocker

#1722 tintColor fix for Pv Buttons on tvOS
  ProvenanceTV/Story Boards/en.lproj/Provenance.storyboard
Labels: tvOS, design

#1721 Match Provenance branding size to capHeight on tvOS
  Provenance/Game Library/UI/Game Library/CollectionViewController/PVGameLibraryViewController.swift
Labels: tvOS, design

#1723 Adds subtle blurEffect to navBar on tvOS
  Provenance/Game Library/UI/Game Library/CollectionViewController/PVGameLibraryViewController.swift
Labels: tvOS, design

#1725 Clarify Game Speed %'s
  Provenance/Emulator/PVEmulatorVC/PVEmulatorViewController.swift
Labels: misc
