Repository Provenance-Emu/Provenance, pull requests merged in 2022-02, with the labels that each got.

#1745 MTL CRT Shader fixes
  Provenance/Emulator/Shaders/crt_filter_ps.metal
Labels: effects, Performance

#1746 Update crt_fragment.glsl
  Provenance/Utilities/shaders/crt/crt_fragment.glsl
Labels: enhancement, effects

#1753 M30 fixes and clarifications
  Cores/Genesis-Plus-GX/PVGenesis/Genesis/PVGenesisEmulatorCore.m
  Provenance/Settings/PVSettingsViewController.swift
Labels: controller-related, core: Genesis-Plus GX, system-SMD/SG

#1756 Make Menu icons iOS only
  ProvenanceTV/TVAlertController.swift
Labels: tvOS, design, Apple TV4K+, Apple TV4

#1788 Update PVSearchViewController.swift
  ProvenanceTV/PVSearchViewController.swift
Labels: tvOS, design

#1787 Update README.md
  README.md
Labels: docs, misc
