Repository Provenance-Emu/Provenance, pull requests merged in 2022-11, with the labels that each got.

#2001 Fix logs crash
  PVSupport/Sources/PVSupport/Logging/PVCocoaLumberJackLogging.swift
  PVSupport/Sources/PVSupport/Logging/PVLogging.h
Labels: crash

#2002 Make web server alerts consistent
  Provenance/Settings/WebServerActivatorController.swift
Labels: ui/ux

#2005 Replace remaining com.provenance-emu with org
  PVSupport/PVSupport.xcodeproj/project.pbxproj
  Provenance.xcodeproj/project.pbxproj
Labels: Clean Up

#2006 General cleanup (rebase)
  PVSupport/Sources/PVSupport/Controller/HapticsManager.swift
  PVSupport/Sources/PVSupport/Performance/PerformanceView.swift
  Provenance/Controller/GCControllerExtensions.swift
  Provenance/Controller/PVControllerManager.swift
  Provenance/Emulator/MTLViewController.swift
  Provenance/Emulator/PVEmulatorVC/PVEmulatorViewController+Controllers.swift
  Provenance/Emulator/PVEmulatorVC/PVEmulatorViewController+CoreOptions.swift
  Provenance/Emulator/PVEmulatorVC/PVEmulatorViewController.swift
  Provenance/Emulator/PVGLViewController/PVMetalViewController.m
  Provenance/Game Library/UI/Game Library/CollectionViewController/PVGameLibraryViewController.swift
  Provenance/Game Library/UI/QuickTableViewController/Model/Icon.swift
  Provenance/Game Library/UI/QuickTableViewController/QuickTableViewController.swift
  Provenance/PVAppDelegate.swift
  Provenance/Services/ApplicationMonitor.swift
  Provenance/Services/LocationManager.swift
  Provenance/Services/PublishedPipeline.swift
  Provenance/User Interface/SwiftUI/GameLibraryView.swift
  Provenance/User Interface/Themes/Theme.swift
  ProvenanceTV/TVAlertController.swift
Labels: Clean Up

#2025 Add Larger Game Library Artwork Display Option for tvOS
  PVSupport/Sources/PVSupport/Settings/PVSettingsModel.swift
  Provenance/Game Library/UI/Game Library/CollectionViewController/PVGameLibraryViewController+CollectionView.swift
  Provenance/Game Library/UI/Game Library/CollectionViewController/PVGameLibraryViewController.swift
Labels: enhancement, ui/ux, tvOS, design, Apple TV4K+, Apple TV4, settings

#2024 Update PVGameLibraryViewController.swift - tvOS Header and Margin tweaks.
  Provenance/Game Library/UI/Game Library/CollectionViewController/PVGameLibraryViewController.swift
Labels: ui/ux, tvOS, design, Apple TV4K+, Apple TV4

#2029 Update PVGameMoreInfoViewController.swift - tvOS usability and Back of the Box support.
  Provenance/Game Library/UI/PVGameMoreInfoViewController.swift
Labels: enhancement, ui/ux, tvOS, design, Apple TV4K+, Apple TV4
