Repository Provenance-Emu/Provenance, pull requests merged in 2022-07, with the labels that each got.

#1929 Update SNES9x's PVSNESEmulatorCore.mm to fix MFI Controls
  Cores/snes9x/PVSNES/SNES/PVSNESEmulatorCore.mm
Labels: controller-related, core: SNES9x, confirmed-fix, input-related, MFi, system-SFC/SNES, priority:High

#1930 refs #1765 fix non-dualshock start in Saturn
  Cores/Mednafen/MednafenGameCore.mm
Labels: controller-related, core: Mednafen, input-related, system-SS

#1927 Update blit_ps.metal to use Halfs
  Provenance/Emulator/Shaders/blit_ps.metal
Labels: enhancement, In Progress, WIP, metal
