Repository Provenance-Emu/Provenance, pull requests merged in 2024-01, with the labels that each got.

#2227 Fix status bar style
  Provenance/Game Library/UI/Game Library/CollectionViewController/PVGameLibraryViewController.swift
  Provenance/PVAppDelegate.swift
  Provenance/Provenance-Info.plist
  Provenance/User Interface/Base.lproj/Provenance.storyboard
  Provenance/User Interface/Themes/Theme.swift
Labels: ui/ux, autosquash

#2244 Fix slider cell detail text
  Provenance/Emulator/CoreOptionsViewController.swift
  Provenance/Settings/Cells/SliderCell.swift
  Provenance/Settings/Custom Rows/SliderRow.swift
Labels: ui/ux, autosquash

#2245 Fix Snes9x stylization
  CoresRetro/RetroArch/PVRetroArch/Core.plist
Labels: ui/ux, autosquash

#2239 Fix game pause alert
  Provenance/Emulator/PVEmulatorVC/PVEmulatorViewController+PauseMenu.swift
Labels: ui/ux, autosquash

#2232 Fix tvOS launch screen storyboard
  Provenance.xcodeproj/project.pbxproj
  ProvenanceTV/LaunchImageTV.png
  ProvenanceTV/LaunchScreenTV.storyboard
  ProvenanceTV/en.lproj/Info.plist
Labels: needs cleaning

#2237 Fix tvOS build
  Provenance.xcodeproj/project.pbxproj
Labels: needs cleaning

#2243 Fix core option modals
  Provenance/Emulator/CoreOptionsViewController.swift
Labels: needs cleaning

#2270 Fix game header styles
  Provenance/Game Library/UI/Game Library/Reusable Views/PVGameLibrarySectionHeaderView.swift
  Provenance/User Interface/Themes/Theme.swift
Labels: ui/ux

#2273 Fix conflict UI issues
  Provenance/Game Library/UI/Game Library/CollectionViewController/PVGameLibraryViewController.swift
  Provenance/Game Library/UI/PVConflictViewController.swift
Labels: ui/ux

#2271 Fix initial interface style
  Provenance/PVAppDelegate.swift
Labels: ui/ux

#2276 build.yml test deriveddata caching
  .github/workflows/build.yml
Labels: dev

#2274 Fix long press on tvOS
  Provenance/Game Library/UI/Game Library/CollectionViewController/PVGameLibraryViewController.swift
Labels: tvOS

#2279 CoreOptions+Serialization fix warnings on strings, utf8 equal
  PVSupport/Sources/PVSupport/CoreOptions/CoreOptions+Serialization.swift
Labels: settings

#2280 redo #2195 by @lechium NitoTV fixes
  Provenance.xcodeproj/project.pbxproj
  Provenance/PVAppDelegate+NitoTV.swift
  Provenance/Provenance-Info.plist
  ProvenanceTV/en.lproj/Info.plist
  ProvenanceTV/es.lproj/Info.plist
  ProvenanceTV/ja.lproj/Info.plist
  ProvenanceTV/ru.lproj/Info.plist
  ProvenanceTV/zh-Hans.lproj/Info.plist
Labels: tvOS
