Repository Provenance-Emu/Provenance, pull requests merged in 2025-03, with the labels that each got.

#2399 ROM Deletion Improvement
  Cores/Atari800/Sources/PVAtari800Bridge/PVAtari800Bridge.m
  PVLibrary/Sources/PVLibrary/Database/Realm Database/RomDatabase.swift
  PVUI/Sources/PVSwiftUI/Resources/en.lproj/Localizable.strings
  PVUI/Sources/PVSwiftUI/RootView/PVRootViewController+DelegateMethods.swift
  PVUI/Sources/PVUIBase/UIViewController+Alerts.swift
Labels: Review effort 3/5

#2400 Update PVMetalViewController.swift - Fix Rotation misalignment.
  PVUI/Sources/PVUIBase/PVGLViewController/PVMetalViewController.swift
Labels: metal, Review effort 2/5

#2401 Update crt_filter_ps.metal to fix broken scanline check
  PVUI/Sources/PVUIBase/Resources/Shaders/Metal/Filters/crt_filter_ps.metal
Labels: effects, metal, Shaders, Review effort 2/5

#2402 Update megaTron.metal
  PVUI/Sources/PVUIBase/Resources/Shaders/Metal/Filters/megaTron.metal
Labels: metal, Shaders, Review effort 4/5

#2403 Update PVMetalViewController.swift for megaTron Uniforms
  PVUI/Sources/PVUIBase/PVGLViewController/PVMetalViewController.swift
Labels: metal, Shaders, Review effort 2/5

#2404 Update PVMetalViewController.swift - fix ulTron
  PVSettings/Sources/PVSettings/Settings/Model/FilterOption.swift
  PVUI/Sources/PVUIBase/PVGLViewController/PVMetalViewController.swift
  PVUI/Sources/PVUIBase/Resources/Shaders/Metal/Filters/ulTron.metal
Labels: metal, Shaders, Review effort 2/5

#2409 fixed ios 16 md5 hash failing; fixed bios watcher crashing
  Extensions/SpotlightImportExtension/ImportExtension.swift
  PVHashing/Sources/PVHashing/MD5Provider.swift
  PVHashing/Sources/PVHashing/NSFileManager+Hashing.swift
  PVLibrary/Sources/PVLibrary/Database/Realm Database/RomDatabase.swift
  PVLibrary/Sources/PVLibrary/DirectoryWatcher/BIOSDirectoryWatcher.swift
  PVLibrary/Sources/PVLibrary/Importer/Models/ImportQueueItem.swift
  PVLibrary/Sources/PVLibrary/Importer/Services/GameImporter/GameImporterDatabaseService.swift
  PVLibrary/Sources/PVRealm/RealmPlatform/Entities/Files/PVFile.swift
  PVLibrary/Tests/PVLibraryTests/GameImporterSystemsServiceTests.swift
  PVPrimitives/Sources/PVPrimitives/LocalFile.swift
  PVPrimitives/Sources/PVPrimitives/Protocols/FileInfoProvider.swift
  PVUI/Sources/PVSwiftUI/Settings/PVRetroArchCoreManager.swift
  PVUI/Sources/PVUIBase/GameLaunching/GameLaunchingViewController.swift
Labels: Review effort 3/5
